#notation {
  background-color:#ffffff;
  margin: 0 auto;
  width:800px;
}

/* match all ids that start with rest and hide them*/
[id^="rest"] {
  display: none;
}

g.note {
 /*fill: #000;*/
 -webkit-transition: fill 0.3s; /* Safari */
 transition: fill 0.3s;
}

g.note:hover {
 fill: #ff9800;
 cursor: pointer;
}